%clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1;
  }

  &::after {
    clear: both;
  }
}

//flex
%flex--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex--vertically-centered {
  display: flex;
  align-items: center;
}

%flex-col--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-col--vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%flex-col--horizontally-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

//center absolute element.
// IMPORTANT: The width and height need to be specified for this to work.
%center-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

%center-absolute-horizontally {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

%center-absolute-vertically {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

//

%hide-placeholder-on-focus {
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:moz-placeholder {
    color: transparent;
  }
}
